JSPack/Map.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jspack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="output">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="import">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="input">
                <xs:complexType>
                  <xs:attribute name="path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="optional" default="" />
            <xs:attribute name="path" type="xs:string" use="required" />
            <xs:attribute name="version" type="xs:boolean" use="optional" default="true" />
            <xs:attribute name="minify" type="xs:boolean" use="optional" default="true" />
            <xs:attribute name="temporary" type="xs:boolean" use="optional" default="false" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="src" type="xs:string" use="optional" />
      <xs:attribute name="target" type="xs:string" use="optional" />
      <xs:attribute name="version" type="xs:string" use="optional" default="" />
      <xs:attribute name="minify" type="xs:boolean" use="optional" default="true" />
    </xs:complexType>
  </xs:element>
</xs:schema>